@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-prompt: var(--font-prompt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

.custom-bg {
  background-image: url('/cloud.png'), linear-gradient(180deg, #b3defd, #cdffff, #efecf1, #fcffff, #fdedb3, #e1bd9e);
  background-repeat: no-repeat, no-repeat;
  background-position: center -90px, center;
  background-size: 100% auto, cover;
  background-attachment: fixed, fixed;
}